.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px; /* Adjust the margin as needed */
}

.top-left {
  position: absolute;
  top: 10;
  left: 20;
  margin: 20px; /* Adjust this value as needed for spacing */
}


// fix if PrimeNG theme overrides severity
.p-button-success {
  background-color: #22c55e !important;
  border-color: #22c55e !important;
}

.p-button-warning {
  background-color: #f59e0b !important;
  border-color: #f59e0b !important;
}

.p-button-danger {
  background-color: #ef4444 !important;
  border-color: #ef4444 !important;
}

.p-button-info {
  background-color: #3b82f6 !important;
  border-color: #3b82f6 !important;
}

.cursor-pointer {
  cursor: pointer;
}

.hover\:bg-gray-100:hover {
  background-color: #f3f4f6;
}

.p-dropdown, .p-calendar {
  min-width: 200px;
}
