<div class="grid">
  <div class="col-12">
    <div class="card">
      <h5>Advanced</h5>
      <div class="p-fluid p-formgrid grid">
        <div class="field col-12 md:col-6">
          <label htmlFor="userID">User ID</label>
          <input pInputText id="userID" type="text" [disabled]="disabled" [(ngModel)]="User.user_Id" />
        </div><div class="field col-12 md:col-6">
          <label htmlFor="firstname">Firstname</label>
          <input pInputText id="firstname" type="text" [disabled]="disabled" [(ngModel)]="User.firstname" />
        </div>
        <div class="field col-12 md:col-6">
          <label htmlFor="lastname">Lastname</label>
          <input pInputText id="lastname" type="text" [disabled]="disabled" [(ngModel)]="User.lastname" />
        </div>
        <div class="field col-12 md:col-6">
          <label htmlFor="username">Username</label>
          <input pInputText id="username" type="text" [disabled]="disabled" [(ngModel)]="User.username" />
        </div>
        <div class="field col-12 md:col-6">
          <label htmlFor="email">Email</label>
          <input pInputText id="email" type="email" [disabled]="disabled" [(ngModel)]="User.email" />
        </div>
        <div class="field col-12 md:col-6">
          <label htmlFor="password">Password</label>
          <input pInputText id="password" type="password" [disabled]="disabled" [(ngModel)]="User.password" />
        </div>
        <div class="field col-12 md:col-6">
          <label htmlFor="phone">Phone</label>
          <input pInputText id="phone" type="text" [disabled]="disabled" [(ngModel)]="User.phone" />
        </div>
        <div class="field col-12 md:col-3">
          <label htmlFor="state">User Type</label>
          <input pInputText id="userType" type="text" [disabled]="disabled" [(ngModel)]="UserType" />
        </div>
        <div class="field col-12 md:col-3" *ngIf="showDepartment()">
          <label htmlFor="department">Department</label>
          <input pInputText id="department" type="text"
                 [disabled]="disabled"
                 [value]="getDepartmentDisplay()" />
        </div>
      </div>
    </div>
    <p-button label="Back" icon="pi pi-arrow-left" (click)="onTryAgainClick()" styleClass="p-button"></p-button> &nbsp;
  </div>
</div>
