<?xml version="1.0" encoding="utf-8"?>
<log4net debug="true">
  <root>
    <level value="ALL" />
    <appender-ref ref="ConsoleAppender" />
    <appender-ref ref="RollingFile_Common" />
  </root>

  <!-- Global Logger -->
  <logger name="webapi.Domain">
    <level value="ALL" />
    <appender-ref ref="ConsoleAppender" />
    <appender-ref ref="RollingFile_Common" />
  </logger>

  <!-- Startup Logger -->
  <logger name="StartupLogger">
    <level value="ALL" />
    <appender-ref ref="RollingFile_Startup" />
  </logger>

  <!-- Angular Logger -->
  <logger name="webapi.Domain.Controllers.LogController">
    <level value="ALL" />
    <appender-ref ref="ConsoleAppender" />
    <appender-ref ref="RollingFile_Angular" />
  </logger>

  <logger name="webapi.Domain.Controllers.AuthController">
    <level value="ALL" />
    <appender-ref ref="RollingFile1" />
    <appender-ref ref="ConsoleAppender" />
  </logger>

  <logger name="webapi.Domain.Controllers.HdFileAttachmentsController">
    <level value="ALL" />
    <appender-ref ref="RollingFile2" />
    <appender-ref ref="ConsoleAppender" />
  </logger>

  <logger name="webapi.Domain.Controllers.HdCategoriesController">
    <level value="ALL" />
    <appender-ref ref="RollingFile3" />
    <appender-ref ref="ConsoleAppender" />
  </logger>

  <logger name="webapi.Domain.Controllers.ClientInfoController">
    <level value="ALL" />
    <appender-ref ref="RollingFile4" />
    <appender-ref ref="ConsoleAppender" />
  </logger>

  <logger name="webapi.Domain.Controllers.HdChannelsController">
    <level value="ALL" />
    <appender-ref ref="RollingFile5" />
    <appender-ref ref="ConsoleAppender" />
  </logger>

  <logger name="webapi.Domain.Controllers.HdCommentsController">
    <level value="ALL" />
    <appender-ref ref="RollingFile6" />
    <appender-ref ref="ConsoleAppender" />
  </logger>

  <logger name="webapi.Domain.Controllers.HdCompaniesController">
    <level value="ALL" />
    <appender-ref ref="RollingFile7" />
    <appender-ref ref="ConsoleAppender" />
  </logger>

  <logger name="webapi.Domain.Controllers.HdDepartmentsController">
    <level value="ALL" />
    <appender-ref ref="RollingFile8" />
    <appender-ref ref="ConsoleAppender" />
  </logger>

  <logger name="webapi.Domain.Controllers.HdEscalationController">
    <level value="ALL" />
    <appender-ref ref="RollingFile9" />
    <appender-ref ref="ConsoleAppender" />
  </logger>

  <logger name="webapi.Domain.Controllers.HdLevelsController">
    <level value="ALL" />
    <appender-ref ref="RollingFile10" />
    <appender-ref ref="ConsoleAppender" />
  </logger>

  <logger name="webapi.Domain.Controllers.HdRequestsController">
    <level value="ALL" />
    <appender-ref ref="RollingFile11" />
    <appender-ref ref="ConsoleAppender" />
  </logger>

  <logger name="webapi.Domain.Controllers.HdStatusController">
    <level value="ALL" />
    <appender-ref ref="RollingFile12" />
    <appender-ref ref="ConsoleAppender" />
  </logger>

  <logger name="webapi.Domain.Controllers.HdSubCategoriesController">
    <level value="ALL" />
    <appender-ref ref="RollingFile13" />
    <appender-ref ref="ConsoleAppender" />
  </logger>

  <logger name="webapi.Domain.Controllers.HdTicketsController">
    <level value="ALL" />
    <appender-ref ref="RollingFile14" />
    <appender-ref ref="ConsoleAppender" />
  </logger>

  <logger name="webapi.Domain.Controllers.HdUsersController">
    <level value="ALL" />
    <appender-ref ref="RollingFile15" />
    <appender-ref ref="ConsoleAppender" />
  </logger>

  <logger name="webapi.Domain.Controllers.SMTPController">
    <level value="ALL" />
    <appender-ref ref="RollingFile16" />
    <appender-ref ref="ConsoleAppender" />
  </logger>

  <logger name="webapi.Domain.Controllers.EmailController">
    <level value="ALL" />
    <appender-ref ref="RollingFile17" />
    <appender-ref ref="ConsoleAppender" />
  </logger>

  <logger name="webapi.Domain.Controllers.SMSController">
    <level value="ALL" />
    <appender-ref ref="RollingFile18" />
    <appender-ref ref="ConsoleAppender" />
  </logger>

  <logger name="webapi.Domain.Controllers.LicenseDetailsController">
    <level value="ALL" />
    <appender-ref ref="RollingFile19" />
    <appender-ref ref="ConsoleAppender" />
  </logger>

  <logger name="webapi.Domain.Controllers.ReportsController">
    <level value="ALL" />
    <appender-ref ref="RollingFile20" />
    <appender-ref ref="ConsoleAppender" />
  </logger>

  <logger name="webapi.Domain.Services.EmailEscalationService">
    <level value="ALL" />
    <appender-ref ref="RollingFile21" />
    <appender-ref ref="ConsoleAppender" />
  </logger>
  <logger name="webapi.Domain.Services.EmailService">
    <level value="ALL" />
    <appender-ref ref="RollingFile22" />
    <appender-ref ref="ConsoleAppender" />
  </logger>
  <logger name="webapi.Domain.Services.EmailEscalationBackgroundService">
    <level value="ALL" />
    <appender-ref ref="RollingFile23" />
    <appender-ref ref="ConsoleAppender" />
  </logger>


  <appender name="RollingFile1" type="log4net.Appender.RollingFileAppender">
    <threshold value="ALL" />
    <file value="logs/Controllers/AuthController.log" />
    <appendToFile value="true" />
    <rollingStyle value="Date" />
    <datePattern value="yyyyMMdd'.log'" />
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %-5level %logger - %message%newline" />
    </layout>
  </appender>

  <appender name="RollingFile2" type="log4net.Appender.RollingFileAppender">
    <threshold value="ALL" />
    <file value="logs/Controllers/HdFileAttachmentsController.log" />
    <appendToFile value="true" />
    <rollingStyle value="Date" />
    <datePattern value="yyyyMMdd'.log'" />
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %-5level %logger - %message%newline" />
    </layout>
  </appender>

  <appender name="RollingFile3" type="log4net.Appender.RollingFileAppender">
    <threshold value="ALL" />
    <file value="logs/Controllers/HdCategoriesController.log" />
    <appendToFile value="true" />
    <rollingStyle value="Date" />
    <datePattern value="yyyyMMdd'.log'" />
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %-5level %logger - %message%newline" />
    </layout>
  </appender>

  <appender name="RollingFile4" type="log4net.Appender.RollingFileAppender">
    <threshold value="ALL" />
    <file value="logs/Controllers/ClientInfoController.log" />
    <appendToFile value="true" />
    <rollingStyle value="Date" />
    <datePattern value="yyyyMMdd'.log'" />
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %-5level %logger - %message%newline" />
    </layout>
  </appender>

  <appender name="RollingFile5" type="log4net.Appender.RollingFileAppender">
    <threshold value="ALL" />
    <file value="logs/Controllers/HdChannelsController.log" />
    <appendToFile value="true" />
    <rollingStyle value="Date" />
    <datePattern value="yyyyMMdd'.log'" />
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %-5level %logger - %message%newline" />
    </layout>
  </appender>

  <appender name="RollingFile6" type="log4net.Appender.RollingFileAppender">
    <threshold value="ALL" />
    <file value="logs/Controllers/HdCommentsController.log" />
    <appendToFile value="true" />
    <rollingStyle value="Date" />
    <datePattern value="yyyyMMdd'.log'" />
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %-5level %logger - %message%newline" />
    </layout>
  </appender>

  <appender name="RollingFile7" type="log4net.Appender.RollingFileAppender">
    <threshold value="ALL" />
    <file value="logs/Controllers/HdCompaniesController.log" />
    <appendToFile value="true" />
    <rollingStyle value="Date" />
    <datePattern value="yyyyMMdd'.log'" />
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %-5level %logger - %message%newline" />
    </layout>
  </appender>

  <appender name="RollingFile8" type="log4net.Appender.RollingFileAppender">
    <threshold value="ALL" />
    <file value="logs/Controllers/HdDepartmentsController.log" />
    <appendToFile value="true" />
    <rollingStyle value="Date" />
    <datePattern value="yyyyMMdd'.log'" />
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %-5level %logger - %message%newline" />
    </layout>
  </appender>

  <appender name="RollingFile9" type="log4net.Appender.RollingFileAppender">
    <threshold value="ALL" />
    <file value="logs/Controllers/HdEscalationController.log" />
    <appendToFile value="true" />
    <rollingStyle value="Date" />
    <datePattern value="yyyyMMdd'.log'" />
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %-5level %logger - %message%newline" />
    </layout>
  </appender>

  <appender name="RollingFile10" type="log4net.Appender.RollingFileAppender">
    <threshold value="ALL" />
    <file value="logs/Controllers/HdLevelsController.log" />
    <appendToFile value="true" />
    <rollingStyle value="Date" />
    <datePattern value="yyyyMMdd'.log'" />
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %-5level %logger - %message%newline" />
    </layout>
  </appender>

  <appender name="RollingFile11" type="log4net.Appender.RollingFileAppender">
    <threshold value="ALL" />
    <file value="logs/Controllers/HdRequestsController.log" />
    <appendToFile value="true" />
    <rollingStyle value="Date" />
    <datePattern value="yyyyMMdd'.log'" />
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %-5level %logger - %message%newline" />
    </layout>
  </appender>

  <appender name="RollingFile12" type="log4net.Appender.RollingFileAppender">
    <threshold value="ALL" />
    <file value="logs/Controllers/HdStatusController.log" />
    <appendToFile value="true" />
    <rollingStyle value="Date" />
    <datePattern value="yyyyMMdd'.log'" />
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %-5level %logger - %message%newline" />
    </layout>
  </appender>

  <appender name="RollingFile13" type="log4net.Appender.RollingFileAppender">
    <threshold value="ALL" />
    <file value="logs/Controllers/HdSubCategoriesController.log" />
    <appendToFile value="true" />
    <rollingStyle value="Date" />
    <datePattern value="yyyyMMdd'.log'" />
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %-5level %logger - %message%newline" />
    </layout>
  </appender>

  <appender name="RollingFile14" type="log4net.Appender.RollingFileAppender">
    <threshold value="ALL" />
    <file value="logs/Controllers/HdTicketsController.log" />
    <appendToFile value="true" />
    <rollingStyle value="Date" />
    <datePattern value="yyyyMMdd'.log'" />
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %-5level %logger - %message%newline" />
    </layout>
  </appender>

  <appender name="RollingFile15" type="log4net.Appender.RollingFileAppender">
    <threshold value="ALL" />
    <file value="logs/Controllers/HdUsersController.log" />
    <appendToFile value="true" />
    <rollingStyle value="Date" />
    <datePattern value="yyyyMMdd'.log'" />
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %-5level %logger - %message%newline" />
    </layout>
  </appender>

  <appender name="RollingFile16" type="log4net.Appender.RollingFileAppender">
    <threshold value="ALL" />
    <file value="logs/Controllers/SMTPController.log" />
    <appendToFile value="true" />
    <rollingStyle value="Date" />
    <datePattern value="yyyyMMdd'.log'" />
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %-5level %logger - %message%newline" />
    </layout>
  </appender>

  <appender name="RollingFile17" type="log4net.Appender.RollingFileAppender">
    <threshold value="ALL" />
    <file value="logs/Controllers/EmailController.log" />
    <appendToFile value="true" />
    <rollingStyle value="Date" />
    <datePattern value="yyyyMMdd'.log'" />
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %-5level %logger - %message%newline" />
    </layout>
  </appender>

  <appender name="RollingFile18" type="log4net.Appender.RollingFileAppender">
    <threshold value="ALL" />
    <file value="logs/Controllers/SMSController.log" />
    <appendToFile value="true" />
    <rollingStyle value="Date" />
    <datePattern value="yyyyMMdd'.log'" />
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %-5level %logger - %message%newline" />
    </layout>
  </appender>

  <appender name="RollingFile19" type="log4net.Appender.RollingFileAppender">
    <threshold value="ALL" />
    <file value="logs/Controllers/LicenseDetailsController.log" />
    <appendToFile value="true" />
    <rollingStyle value="Date" />
    <datePattern value="yyyyMMdd'.log'" />
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %-5level %logger - %message%newline" />
    </layout>
  </appender>

  <appender name="RollingFile20" type="log4net.Appender.RollingFileAppender">
    <threshold value="ALL" />
    <file value="logs/Controllers/ReportsController.log" />
    <appendToFile value="true" />
    <rollingStyle value="Date" />
    <datePattern value="yyyyMMdd'.log'" />
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %-5level %logger - %message%newline" />
    </layout>
  </appender>
  <appender name="RollingFile21" type="log4net.Appender.RollingFileAppender">
    <file value="Logs/Escalation.log" />
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="5" />
    <maximumFileSize value="10MB" />
    <staticLogFileName value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %-5level %logger - %message%newline" />
    </layout>
  </appender>
  <appender name="RollingFile22" type="log4net.Appender.RollingFileAppender">
    <file value="Logs/EmailService.log" />
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="5" />
    <maximumFileSize value="10MB" />
    <staticLogFileName value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %-5level %logger - %message%newline" />
    </layout>
  </appender>
  <appender name="RollingFile23" type="log4net.Appender.RollingFileAppender">
    <file value="Logs/EmailEscalationBackgroundService.log" />
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="5" />
    <maximumFileSize value="10MB" />
    <staticLogFileName value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %-5level %logger - %message%newline" />
    </layout>
  </appender>
  <!-- Console Appender -->
  <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %-5level %logger - %message%newline" />
    </layout>
  </appender>

  <!-- Common Appender -->
  <appender name="RollingFile_Common" type="log4net.Appender.RollingFileAppender">
    <threshold value="ALL" />
    <file value="logs/Controllers/Common.log" />
    <appendToFile value="true" />
    <rollingStyle value="Date" />
    <datePattern value="yyyyMMdd'.log'" />
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %-5level %logger - %message%newline" />
    </layout>
  </appender>

  <!-- Startup Appender -->
  <appender name="RollingFile_Startup" type="log4net.Appender.RollingFileAppender">
    <threshold value="ALL" />
    <file value="logs/Startup/StartupErrors.log" />
    <appendToFile value="true" />
    <rollingStyle value="Date" />
    <datePattern value="yyyyMMdd'.log'" />
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %-5level %logger - %message%newline" />
    </layout>
  </appender>

  <!-- Angular Appender -->
  <appender name="RollingFile_Angular" type="log4net.Appender.RollingFileAppender">
    <threshold value="ALL" />
    <file value="logs/Angular/AngularCommon.log" />
    <appendToFile value="true" />
    <rollingStyle value="Date" />
    <datePattern value="yyyyMMdd'.log'" />
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %-5level %logger - %message%newline" />
    </layout>
  </appender>
</log4net>
